<app-header></app-header>

<div class="wrapper">
    <section class="smaller-section title-section">
        <div class="title-icon-box">
            <i class="material-icons">money_off</i>
        </div>
        <h3>Purchases</h3>
        <a href="/purchases/new" title="Create new purchase" name="New purchase" class="pull-right top-header-link">
            <i class="material-icons">add_circle</i>
        </a>
    </section>

    <section class="smaller-section filter-box">
        <details name="Open filter form.">
            <summary>Filter</summary>

            <form action="" class="filter-form">
                <div class="form-text-field form-with-icon">
                    <i class="material-icons">store</i>
                    <label for="marketplace">Marketplace</label>
                    <input type="text" name="marketplace" id="marketplace">
                </div>

                <div class="form-text-field form-with-icon">
                    <i class="material-icons">label</i>
                    <label for="category">Category</label>
                    <input type="text" name="category" id="category">
                </div>

                <div class="form-text-field form-with-icon">
                    <i class="material-icons">shopping_basket</i>
                    <label for="product">Product</label>
                    <input type="text" name="product" id="product">
                </div>

                <div class="form-text-field form-with-icon">
                    <i class="material-icons">today</i>
                    <label for="initial-date">From</label>
                    <input type="text" name="initial-date" id="initial-date">
                </div>

                <div class="form-text-field form-with-icon">
                    <i class="material-icons">today</i>
                    <label for="final-date">To</label>
                    <input type="text" name="final-date" id="final-date">
                </div>

                <div class="form-filter-button pull-right">
                    <button class="button button-circle" name="filter" id="filter">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </details>
    </section>

    <div class="container-box-shared">
        <article class="box-shared box-shared-responsive" *ngFor="let purchase of filteredItems">
            <div class="box-shared-texts">
                <p>Marketplace</p>
                <span>{{purchase.attributes['market-place-id']}}</span>
            </div>
            <div class="box-shared-texts">
                <p>Recipe</p>
                <span>{{purchase.id}}</span>
            </div>
            <div class="box-shared-texts">
                <p>Category</p>
                <span>{{purchase.attributes['category-id']}}</span>
            </div>
            <div class="box-shared-texts">
                <p>Products</p>
                <span title="TBD">PRECISA ARRUMAR ESSA PARTE!!</span>
            </div>
            <div class="box-shared-texts">
                <p>Created</p>
                <span>{{purchase.attributes['created-at'] | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="box-shared-texts">
                <p>Total</p>
                <span>{{purchase.attributes.value}}</span>
            </div>
            <hr>
            <br>
            <div class="actions-container text-center">
                <a href="purchases/{{purchase.id}}" name="see more" class="actions-container-action">
                    <i class="material-icons">info_outline</i>
                </a>
                <a name="edit item" class="actions-container-action">
                    <i class="material-icons">edit</i>
                </a>
                <a name="delete item" class="actions-container-action">
                    <i class="material-icons">delete_outline</i>
                </a>
            </div>
        </article>
        <article class="box-shared box-shared-responsive">
            <div class="box-shared-texts">
                <p>Marketplace</p>
                <span>Supermecado Dalben</span>
            </div>
            <div class="box-shared-texts">
                <p>Recipe</p>
                <span>65536</span>
            </div>
            <div class="box-shared-texts">
                <p>Category</p>
                <span>Supermarkt</span>
            </div>
            <div class="box-shared-texts">
                <p>Products</p>
                <span>Banana, Morango, Leite, Ovos, Bolacha, Alface,  Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface</span>
            </div>
            <div class="box-shared-texts">
                <p>Created</p>
                <span>14/05/2020, 10:20</span>
            </div>
            <div class="box-shared-texts">
                <p>Total</p>
                <span>R$: 284,00</span>
            </div>
            <hr>
            <br>
            <div class="actions-container text-center">
                <a href="purchases/view" name="see more" class="actions-container-action">
                    <i class="material-icons">info_outline</i>
                </a>
                <a name="edit item" class="actions-container-action">
                    <i class="material-icons">edit</i>
                </a>
                <a name="delete item" class="actions-container-action">
                    <i class="material-icons">delete_outline</i>
                </a>
            </div>
        </article>
        <article class="box-shared box-shared-responsive">
            <div class="box-shared-texts">
                <p>Marketplace</p>
                <span>Supermecado Dalben</span>
            </div>
            <div class="box-shared-texts">
                <p>Recipe</p>
                <span>65536</span>
            </div>
            <div class="box-shared-texts">
                <p>Category</p>
                <span>Supermarkt</span>
            </div>
            <div class="box-shared-texts">
                <p>Products</p>
                <span>Banana, Morango, Leite, Ovos, Bolacha, Alface,  Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface</span>
            </div>
            <div class="box-shared-texts">
                <p>Created</p>
                <span>14/05/2020, 10:20</span>
            </div>
            <div class="box-shared-texts">
                <p>Total</p>
                <span>R$: 284,00</span>
            </div>
            <hr>
            <br>
            <div class="actions-container text-center">
                <a href="purchases/2734" name="see more" class="actions-container-action">
                    <i class="material-icons">info_outline</i>
                </a>
                <a name="edit item" class="actions-container-action">
                    <i class="material-icons">edit</i>
                </a>
                <a name="delete item" class="actions-container-action">
                    <i class="material-icons">delete_outline</i>
                </a>
            </div>
        </article>
        <article class="box-shared box-shared-responsive">
            <div class="box-shared-texts">
                <p>Marketplace</p>
                <span>Supermecado Dalben</span>
            </div>
            <div class="box-shared-texts">
                <p>Recipe</p>
                <span>65536</span>
            </div>
            <div class="box-shared-texts">
                <p>Category</p>
                <span>Supermarkt</span>
            </div>
            <div class="box-shared-texts">
                <p>Products</p>
                <span>Banana, Morango, Leite, Ovos, Bolacha, Alface,  Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface</span>
            </div>
            <div class="box-shared-texts">
                <p>Created</p>
                <span>14/05/2020, 10:20</span>
            </div>
            <div class="box-shared-texts">
                <p>Total</p>
                <span>R$: 284,00</span>
            </div>
            <hr>
            <br>
            <div class="actions-container text-center">
                <a href="purchases/view" name="see more" class="actions-container-action">
                    <i class="material-icons">info_outline</i>
                </a>
                <a name="edit item" class="actions-container-action">
                    <i class="material-icons">edit</i>
                </a>
                <a name="delete item" class="actions-container-action">
                    <i class="material-icons">delete_outline</i>
                </a>
            </div>
        </article>
        <article class="box-shared box-shared-responsive">
            <div class="box-shared-texts">
                <p>Marketplace</p>
                <span>Supermecado Dalben</span>
            </div>
            <div class="box-shared-texts">
                <p>Recipe</p>
                <span>65536</span>
            </div>
            <div class="box-shared-texts">
                <p>Category</p>
                <span>Supermarkt</span>
            </div>
            <div class="box-shared-texts">
                <p>Products</p>
                <span>Banana, Morango, Leite, Ovos, Bolacha, Alface,  Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface</span>
            </div>
            <div class="box-shared-texts">
                <p>Created</p>
                <span>14/05/2020, 10:20</span>
            </div>
            <div class="box-shared-texts">
                <p>Total</p>
                <span>R$: 284,00</span>
            </div>
            <hr>
            <br>
            <div class="actions-container text-center">
                <a href="purchases/view" name="see more" class="actions-container-action">
                    <i class="material-icons">info_outline</i>
                </a>
                <a name="edit item" class="actions-container-action">
                    <i class="material-icons">edit</i>
                </a>
                <a name="delete item" class="actions-container-action">
                    <i class="material-icons">delete_outline</i>
                </a>
            </div>
        </article>
        <article class="box-shared box-shared-responsive">
            <div class="box-shared-texts">
                <p>Marketplace</p>
                <span>Supermecado Dalben</span>
            </div>
            <div class="box-shared-texts">
                <p>Recipe</p>
                <span>65536</span>
            </div>
            <div class="box-shared-texts">
                <p>Category</p>
                <span>Supermarkt</span>
            </div>
            <div class="box-shared-texts">
                <p>Products</p>
                <span>Banana, Morango, Leite, Ovos, Bolacha, Alface,  Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface</span>
            </div>
            <div class="box-shared-texts">
                <p>Created</p>
                <span>14/05/2020, 10:20</span>
            </div>
            <div class="box-shared-texts">
                <p>Total</p>
                <span>R$: 284,00</span>
            </div>
            <hr>
            <br>
            <div class="actions-container text-center">
                <a href="purchases/view" name="see more" class="actions-container-action">
                    <i class="material-icons">info_outline</i>
                </a>
                <a name="edit item" class="actions-container-action">
                    <i class="material-icons">edit</i>
                </a>
                <a name="delete item" class="actions-container-action">
                    <i class="material-icons">delete_outline</i>
                </a>
            </div>
        </article>
    </div>

    <div class="pagination-container text-center">
        <button > < </button>
        <span>Page 1 of 280 </span>
        <button> > </button>
    </div>
</div>