<app-header></app-header>

<div class="wrapper">
    <section class="smaller-section title-section">
        <div class="title-icon-box">
            <i class="material-icons">money_off</i>
        </div>
        <h3>Purchase #2734</h3>
        <a href="/purchases/edit" name="Edit purchase" class="pull-right top-header-link">
            <i class="material-icons">edit</i>
        </a>
    </section>
    <hr class="hr-dotted">

    <section class="smaller-section header-view-purchase">
        <div class="header-view-purchase-icons">
            <i class="material-icons">event</i>
        </div>
        <div class="header-view-purchase-title">
            <p>Created</p>
            <p>Updated</p>
        </div>
        <div class="header-view-purchase-values">
            <span>25 de maio de 2020, 17:05</span>
            <span>17 de maio de 2020, 17:07</span>
        </div>
    </section>

    <hr class="hr-dotted">
    <section class="smaller-section header-view-purchase">
        <div class="header-view-purchase-icons">
            <i class="material-icons">store</i>
            <i class="material-icons">receipt</i>
            <i class="material-icons">label</i>
        </div>

        <div class="header-view-purchase-title">
            <p>Marketplace</p>
            <p>Receipt</p>
            <p>Category</p>
        </div>

        <div class="header-view-purchase-values">
            <span>Supermercado Dalben</span>
            <span>65536</span>
            <span>Supermercado, Padaria</span>
        </div>
    </section>
    <hr class="hr-dotted">

    <section class="smaller-section view-purchase-products-title">
        <div>
            <i class="material-icons">shopping_basket</i>
            <p>Products</p>
        </div>

        <div>
            <i class="material-icons">attach_money</i>
            <p>Price</p>
        </div>
    </section>

    <section class="smaller-section view-purchase-products-description">
        <div>
            <p>SUCO MUPY 200ML SAC. MACA</p>
            <span>1</span>
            <span>X</span>
            <span>2.99</span>
            <p>2.99</p>
        </div>
        <div>
            <p>CEBOLA NACIONAL - O QUILO</p>
            <span>1.385</span>
            <span>X</span>
            <span>7,99 </span>
            <p>11,07</p>
        </div>
        <div>
            <p>BEB.LAC.BATAVO 900G POLPA GRAVIOLAaAaAAA</p>
            <span>1</span>
            <span>X</span>
            <span>7,49</span>
            <p>7,49</p>
        </div>
        <div>
            <p>CHIPS PROVOLONE C/GOIABADA</p>
            <span>0.088</span>
            <span>X</span>
            <span>165,90 </span>
            <p>14,60</p>
        </div>
    </section>

    <hr>
    <section class="view-purchase-total">
        <p>Total</p>
        <p>R$ 284.57</p>
    </section>

    <section class="section">
        <div class="text-center buttons-container-add-purchase">
            <a href="purchases" class="button button-secondary" name="cancel" value="Cancel">Back to purchases</a>
        </div>
    </section>
</div>