<div class="wrapper wrapper-small">
    <header class="grid">
        <a href="/" name="Link to home.">
            <div class="logo mini">
                <span>$</span>
            </div>
        </a>
    
        <div class="login-actions">
            <h4><a href="login" name="Link to login.">Login</a></h4>
        </div>
    </header>

    <main>
        <h2>Hello! Welcome to Tostão</h2>
        <form action="" class="form">
            <div class="form-text-field">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            
            <div class="form-text-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
        </form>

        <div class="buttons-container text-center">
            <a class="button button-default" name="create account." value="create account">Create Account</a> 
        </div>
    </main>
</div>
