<app-header></app-header>

<div class="wrapper">
    <section class="smaller-section title-section">
        <div class="title-icon-box">
            <i class="material-icons">bar_chart</i>
        </div>
        <h3>Spending History</h3>
    </section>

    <section class="smaller-section filter-box">
        <details name="Open filter form.">
            <summary>Filter by specific date</summary>
            
            <form action="">
                <div class="form-text-field">
                    <input type="text" name="initial-date" id="email">
                </div>
            </form>
        </details>
    </section>
</div>