<header class="header">
    <button class="menu-button" name="menu" value="menu" (click)="menuContainerToggle = true">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <div class="menu-container" *ngIf="menuContainerToggle">
        <button class="menu-close" (click)="menuContainerToggle = false">
            <i class="material-icons">close</i>
        </button>
        <div class="menu-header text-center">
            <i class="material-icons">face</i>
            <p>
                Izabela lima 
                <button class="menu-logout" name="logout menu." value="logout menu"><i class="material-icons">more_vert</i></button>
            </p>
        </div>
        <div class="menu-content grid">
            <a href="spending-history" class="text-center">
                <i class="material-icons">bar_chart</i>
                <p>Spending History</p> 
            </a>
            <a href="#0" class="text-center">
                <i class="material-icons">show_chart</i>
                <p>Price History</p> 
            </a>
            <a href="#0" class="text-center">
                <i class="material-icons">attach_money</i>
                <p>Income</p> 
            </a>
            <a href="#0" class="text-center">
                <i class="material-icons">money_off</i>
                <p>Spendings</p> 
            </a>
            <a href="#0" class="text-center">
                <i class="material-icons">label</i>
                <p>Categories</p> 
            </a>
            <a href="#0" class="text-center">
                <i class="material-icons">store</i>
                <p>Stores</p> 
            </a>
            <a href="#0" class="text-center">
                <i class="material-icons">shopping_basket</i>
                <p>Products</p>
            </a>
            <a href="#0" class="text-center">
                <i class="material-icons">settings</i>
                <p> Configuration</p> 
            </a>
        </div>
    </div>
    <h1 class="header-title text-center"><a href="/" name="Link to home.">Tostão</a></h1>

</header>