<header class="header-title text-center">
    <h1>Tostão</h1>
</header>

<div class="wrapper">
    <div class="background-home">
        <main class="section grid text-center">
            <div class="logo">
                <span>$</span>
            </div>
    
            <div class="section-home-texts">
            <h3>Track your expenses, incomes and all consumption history with Tostão</h3>
            <h3>With graphs and [TBD] OCR* recipes</h3>
            <p>*Optical character recognition</p>
            <div class="buttons-container">
                <a routerLink="login" class="button button-default" name="Link to login." value="Login">Login</a>
                <a routerLink="signup" class="button button-secondary" name="Link to create account." value="Create Account">Create Account</a>
            </div>
            </div>
        </main>

        <section class="section text-center">
            <h3>Income</h3>
            
            <canvas id="canvas3">{{ incomeChart }}</canvas>
        </section>
    </div>

    <section class="section text-center">
        <h3>Expense History</h3>

        <canvas id="canvas">{{ expenseChart }}</canvas>
    </section>

    <section class="section text-center section-secondary">
        <h3>Price History</h3>

        <canvas id="canvas2">{{ priceChart }}</canvas>
    </section>

    <footer class="text-center">
        <h3>Tostão</h3>
    </footer>
</div>