
<main class="section home">
  <h1 class="section-title">Tostão</h1>

  <div class="logo">
    <span>$</span>
  </div>

  <div class="buttons-container">
    <button class="button button-default" type="button" name="Login" value="Login">Login</button>
    <button class="button button-empty" type="button" name="Create Account" value="Create Account">Create Account</button>  
  </div>

</main>

<section class="section">
  <h3>Spending History</h3>

  <canvas id="canvas">{{ chartSpending }}</canvas>

</section>

<section class="section section-secondary">
  <h3>Price History</h3>

  <canvas id="canvas2">{{ chartPrice }}</canvas>
</section>

<section class="section">
  <h3>Income</h3>
</section>

<router-outlet></router-outlet>