<div class="wrapper wrapper-small">
    <header class="grid">
        <a href="/" name="Link to home.">
            <div class="logo mini">
                <span>$</span>
            </div>
        </a>
    
        <div class="login-actions">
            <h4><a href="signup" name="Link to create account.">Create Account</a></h4>
        </div>
    </header>

    <main>
        <h2>Welcome back,</h2>
        <form action="" class="form">
            <div class="form-text-field">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            
            <div class="form-text-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
        </form>

        <div class="buttons-container text-center">
            <a href="purchase-history" class="button button-default" name="Link to Login." value="Login">Login</a>
            <a href="" name="Link to recover your password." >Forgot your password?</a>  
        </div>
    </main>
</div>
