<app-header></app-header>

<div class="wrapper">
    <section class="smaller-section title-section">
        <div class="title-icon-box">
            <i class="material-icons">money_off</i>
        </div>
        <h3>Spendings</h3>
        <button name="insert new spend" class="pull-right top-action-button">
            <i class="material-icons">add_circle</i>
        </button>
    </section>

    <section class="smaller-section filter-box">
        <details name="Open filter form.">
            <summary>Filter</summary>
            
            <form action="" class="filter-form">
                <div class="form-text-field form-with-icon">
                    <i class="material-icons">store</i>
                    <label for="store">Store</label>
                    <input type="text" name="store" id="store">   
                </div>

                <div class="form-text-field form-with-icon">
                    <i class="material-icons">label</i>
                    <label for="category">Category</label>
                    <input type="text" name="category" id="category">   
                </div>

                <div class="form-text-field form-with-icon">
                    <i class="material-icons">shopping_basket</i>
                    <label for="product">Product</label>
                    <input type="text" name="product" id="product">   
                </div>

                <div class="form-text-field form-with-icon">
                    <i class="material-icons">today</i>
                    <label for="initial-date">From</label>
                    <input type="text" name="initial-date" id="initial-date">               
                </div>

                <div class="form-text-field form-with-icon">
                    <i class="material-icons">today</i>
                    <label for="final-date">To</label>
                    <input type="text" name="final-date" id="final-date">
                </div>

                <div class="form-filter-button pull-right">
                    <button class="button button-circle" name="filter" id="filter">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </details>
    </section>

   <article class="box-spendings">
        <div class="box-spendings-texts">
            <p>Store</p>
            <span>Supermecado Dalben</span>
        </div>
        <div class="box-spendings-texts">
            <p>Recipe</p>
            <span>65536</span>
        </div>
        <div class="box-spendings-texts">
            <p>Category</p>
            <span>Supermarkt</span>
        </div>
        <div class="box-spendings-texts">
            <p>Products</p>
            <span>Banana, Morango, Leite, Ovos, Bolacha, Alface,  Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface</span>
        </div>
        <div class="box-spendings-texts">
            <p>Created</p>
            <span>14/05/2020, 10:20</span>
        </div>
        <div class="box-spendings-texts">
            <p>Total</p>
            <span>R$: 284,00</span>
        </div>
        <hr>

        <div class="actions-container text-center">
            <button name="see more">
                <i class="material-icons">info_outline</i>    
            </button>
            <button name="edit item">
                <i class="material-icons">edit</i>    
            </button>
            <button name="delete item">
                <i class="material-icons">delete_outline</i>    
            </button>
        </div>
   </article>

    <article class="box-spendings">
        <div class="box-spendings-texts">
            <p>Store</p>
            <span>Supermecado Dalben</span>
        </div>
        <div class="box-spendings-texts">
            <p>Recipe</p>
            <span>65536</span>
        </div>
        <div class="box-spendings-texts">
            <p>Category</p>
            <span>Supermarkt</span>
        </div>
        <div class="box-spendings-texts">
            <p>Products</p>
            <span>Banana, Morango, Leite, Ovos, Bolacha, Alface,  Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface Morango, Leite, Ovos, Bolacha, Alface</span>
        </div>
        <div class="box-spendings-texts">
            <p>Created</p>
            <span>14/05/2020, 10:20</span>
        </div>
        <div class="box-spendings-texts">
            <p>Total</p>
            <span>R$: 284,00</span>
        </div>
        <hr>

        <div class="actions-container text-center">
            <button>
                <i class="material-icons">info_outline</i>    
            </button>
            <button>
                <i class="material-icons">edit</i>    
            </button>
            <button>
                <i class="material-icons">delete_outline</i>    
            </button>
        </div>
    </article>
</div>