.header {
    border-bottom: 1px solid #C4C4C4;

    .menu-button {
        width: 40px;
        height: 40px;
        align-self: center;
        margin-left: 15px;
        position: absolute;
        top: 18px;
        background-color: transparent;
        border: none;

        div {
            content: "";
            margin-bottom: 5px;
            width: 3em;
            height: 0.22em;
            @include border-radius(8px);
            background: $light-accent-font-color;
            box-shadow: 0px 4px 4px $light-accent-font-color;

        }

    }

    .header-title {
        border-bottom: none;
    }
}

.menu-container {
    position: absolute;
    width: 375px;
    height: 100vh;
    background-color: $secondary-full;
    padding: 0 1.5em;
    @include border-radius(0 15px 15px 0);
    z-index: 1;

    .menu-header {
        border-bottom: 1px solid $white-font-color;
        margin: 2em 0;

        .menu-logout {
            border: none;
            background-color: transparent;
            color: $white-font-color;

            .material-icons {
                font-size: 2em;
                position: relative;
                top: 7px;
            }
        }

        .material-icons {
            font-size: 3em;
            color: $white-font-color;
        }

        p {
            color: $white-font-color;
            text-transform: lowercase;
        }
    }

    .menu-content {
        justify-items: center;

        a {
            width: 120px;
            height: 120px;
            display: block;
            grid-column-end: span 4;
            background-color: $white-font-color;
            padding: 1em;
            margin-bottom: 0.5em;
            @include border-radius(15px);
        }

        .material-icons {
            padding-top: 20px;
            font-size: 3em;
        }

        p {
            margin-bottom: 0;
        }
    }

    .menu-close {
        border: none;
        background-color: transparent;
        color: $accent-font-color;
        position: absolute;
        right: 1em;
        top: 1em;

        .material-icons {
            font-size: 2.5em;
        }
    }

    .menu-account-links {
        background-color: #4F4F4F;
        width: 40%;
        position: absolute;
        left: 30%;
        @include border-radius(7px);
        transition: 3s ease-in;

        &::before {
            @include css-triangle(#4F4F4F, up, 10px);
            top: -9px;
            right: 17%;
        }

        li {
            padding: 1em 0;

            &:first-child {
                border-bottom: 1px solid $white-font-color;
            }

            a {
                color: $white-font-color;
            }
        }
        .material-icons {
            font-size: 1.2em;
            left: 13px;
            position: relative;
            top: 3px;
        }
    }
}