/*.background-home {
    width: 100%;
    height: 100%;
    background: url('../../../src/assets/images/pork.png') no-repeat;
    background-size: 55%;
    background-position-x: 110%;
    background-position-y: 15em;
}*/

.logo {
    border: 0.5em solid $primary;
    background-color: $secondary;
    width: 40vw;
    height: 40vw;
    @include border-radius(50%);
    @include push-auto;
    margin-bottom: 2em;
    grid-column: 1/9;

    span {
        display: block;
        color: $primary;
        font-size: 28vw;
        margin-top: 20px;
    }
}

.section-secondary {
    background-color: $secondary;
    padding: 4.5em 2em;
    @include border-radius(15px);

    h3 {
        color: $white-font-color;
    }
}

footer {
    @include push-auto;
    padding: 1.5em 0;
    border-top: 1px solid $primary;
    width: 50vw;

    h3 {
        color: $primary;
        margin: 0;
    }
}

.section-home-texts {
    grid-column: 1/9;
}

.section-home-texts h3,
.section-home-texts p {
    display: none;
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){
    .logo {
        grid-column: 1/4;
        width: 30vw;
        height: 30vw;

        span {
            font-size: 22vw;
        }
    }

    .section-home-texts {
        grid-column: 4/9;
        margin: 5em 0 0 5em;
    }

    .section-home-texts h3,
    .section-home-texts p {
        display: block;
    }

}

/* desktop styles */
@media screen and (min-width: 1200px){
    .section {
        canvas {
            max-width: 70%;
            @include push-auto;
        }
    }
}