.wrapper {
    margin: 0 20px;
}
.wrapper-small {

}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.section {
    @include push-auto;
    padding: 2em 0;
    margin-bottom: 4em;
}

.smaller-section {
    padding: 1em 0;
}

.clear {
    clear: both;
}

.header-title {
    padding: 15px 0;
    border-bottom: 1px solid $very-light-accent-font-color;
    
    a {
        color: $primary-font-color;
    }
}

.title-section {
    padding-top: 1.5em;
    
    .title-icon-box {
        border: 1px solid $very-light-accent-font-color;
        @include border-radius(5px);
        width: 68px;
        height: 69px;
        display: inline-block;
        vertical-align: bottom;

        .material-icons {
            font-size: 4.3em;
            color: $primary;
        }
    }
    h3 {
        display: inline-block;
        margin-left: 0.9em;
    }
}

.text-center {
    text-align: center;
}

.filter-box {
    summary {
        color: $accent-font-color;

        &:focus {
            outline: none;
        }
    }
}

.pull-right {
    float: right;
}

.box-shared {
    margin: 2em 0;
    padding: 1.3em;
    background: rgba(218, 218, 218, 0.65);
    border: 1px solid $background-purchases-box;
    @include border-radius(0.9em);
    box-sizing: border-box;

    .box-shared-texts {
        display: flex;
        justify-content: space-between;

        p {
            color: $primary-font-color;
            padding-right: 1em;
        }
    
        span {
            color: $accent-font-color;
            text-align: right;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

hr {
    border: 0.9px dashed $primary-font-color;
}

.actions-container {
    margin-top: 1em;

    .actions-container-action { 
        margin: 1em 1em 0 0;

        .material-icons {
            font-size: 2.4em;
            color: $primary-font-color;
        }
    }
}

.top-header-link {
    position: relative;
    top: 1.2em;

    .material-icons {
        font-size: 2.5em;
        color: $primary;
    }    
}


.form-checkbox-field {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: 1em;

    label {
        padding-top: 0.2em;
        padding-left: 0.5em;
    }
}

.add-purchase-item {
    .form-checkbox-field {
        justify-content: flex-start;
        color: $primary-font-color;
    }

    .add-purchase-item-button {
        font-size: 1.1em;
        color: $primary-font-color;

        .material-icons {
            position: relative;
            top: 10px;
            font-size: 2em;
            color: $primary;
        }
    }
}

.form-filter-button {
    position: relative;
    top: -17px;
}

.pagination-container {
    margin: 1em 0;

    button {
        font-size: 1.3em;
        color: $accent-font-color;
        margin-right: 0.5em;
    }
    span {
        color: $accent-font-color;
        margin-right: 0.5em;
    }
}

.container-box-shared {
    clear: both;
}

/* small tablet styles */
@media screen and (min-width: 620px){
    .wrapper {
        max-width: 80vw;
        @include push-auto;
    }
    .wrapper-small {
        max-width: 65vw;
    }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){ 
    .box-shared-responsive {
        width: 48%;
        margin-right: 10px;
        display: inline-block;

    }

    .box-shared-mini {
        max-width: 30%;
        margin: 0 auto;
    }

    .wrapper-small {
        max-width: 55vw;
    } 
}

/* desktop styles */
@media screen and (min-width: 1200px){ 
    .wrapper {
        max-width: 70vw;
    }

    .wrapper-small {
        max-width: 35vw;
    }

    .box-shared-responsive {
        width: 32%;
    }

    .wrapper-desktop {
        max-width: 60vw;
    }

    .side-by-side-text-form {
        width: 48%;
        display: inline-block;
    }

    .side-by-side-text-form.margin-right {
        margin-right: 10px;
    }
    
    .max-size-text-form {
        max-width: 97%;
    }

    .create-form {
        .box-shared {
            padding: 1.3em 1.3em 1.3em 2.3em;
        }
    }

    .buttons-container-add-action {
        display: flex;
        justify-content: flex-end;
        
        a, button.button-default {
            width: 20%;
            box-sizing: border-box;
        }

        a {
            margin-right: 1.5em;
        }
    }
}