.wrapper {
    margin: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.section {
    @include push-auto;
    padding: 2em 0;
    margin-bottom: 4em;
}

.smaller-section {
    padding: 1em 0;
}

.header-title {
    padding: 15px 0;
    border-bottom: 1px solid $very-light-accent-font-color;
    
    a {
        color: $primary-font-color;
    }
}

.title-section {
    padding-top: 1.5em;
    
    .title-icon-box {
        border: 1px solid $very-light-accent-font-color;
        @include border-radius(5px);
        width: 68px;
        height: 69px;
        display: inline-block;
        vertical-align: bottom;

        .material-icons {
            font-size: 4.5em;
            color: $primary;
        }
    }
    h3 {
        display: inline-block;
        margin-left: 0.9em;
    }
}

.text-center {
    text-align: center;
}

.filter-box {
    summary {
        color: $accent-font-color;

        &:focus {
            outline: none;
        }
    }
}

.pull-right {
    float: right;
}

.box-spendings {
    margin: 2em 0;
    padding: 1.3em;
    background: rgba(218, 218, 218, 0.65);
    border: 1px solid $background-spendings-box;
    @include border-radius(0.9em);
    box-sizing: border-box;

    .box-spendings-texts {
        display: flex;
        justify-content: space-between;

        p {
            color: $primary-font-color;
            padding-right: 1em;
        }
    
        span {
            color: $accent-font-color;
            text-align: right;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    hr {
        border: 0.9px dashed $primary-font-color;
    }
}

.actions-container {
    button { 
        margin: 1em 0.7em 0 0;

        .material-icons {
            font-size: 2.4em;
            color: $primary-font-color;
        }
    }
}

.top-action-button {
    position: relative;
    top: 1.2em;

    .material-icons {
        font-size: 2.5em;
        color: $primary;
    }    
}

/* small tablet styles */
@media screen and (min-width: 620px){
    .wrapper {
        max-width: 80vw;
        @include push-auto;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px){ 
    .wrapper {
        max-width: 70vw;
    }
}