<app-header></app-header>

<div class="wrapper">
    <section class="smaller-section title-section">
        <div class="title-icon-box">
            <i class="material-icons">attach_money</i>
        </div>
        <h3>Currency #1</h3>
        <a href="/currencies/edit" name="Edit currency" class="pull-right top-header-link">
            <i class="material-icons">edit</i>
        </a>
    </section>

    <article class="box-shared box-shared-mini">
        <div class="box-shared-texts">
            <p>Currency</p>
            <span>Euro</span>
        </div>
        <div class="box-shared-texts">
            <p>Created</p>
            <span>14/05/2020, 10:20</span>
        </div>
        <div class="box-shared-texts">
            <p>Updated</p>
            <span>14/05/2020, 10:20</span>
        </div>
   </article>
   <section class="section">
        <div class="text-center buttons-container-add-action">
            <a href="currencies" class="button button-secondary" name="cancel" value="Cancel">Back to currencies</a>
        </div>
    </section>
</div>