<app-header></app-header>

<div class="wrapper">
    <section class="smaller-section title-section">
        <div class="title-icon-box">
            <i class="material-icons">money_off</i>
        </div>
        <h3>Spending #2734</h3>
        <a href="/spendings/edit" name="Edit spending" class="pull-right top-header-link">
            <i class="material-icons">edit</i>
        </a>
    </section>
    <hr class="hr-dotted">

    <section class="smaller-section">
        <i class="material-icons">event</i>
        <p>Criado</p>
        <span>25/05/2020, 17:05</span>
        <p>Atualizado</p>
        <span>17/05/2020, 17:07</span>
    </section>

    <hr class="hr-dotted">
    <section class="smaller-section">
        <i class="material-icons">store</i>
        <p>Store</p>
        <span>Supermercado Dalben</span>

        <i class="material-icons">receipt</i>
        <p>Receipt</p>
        <span>65536</span>

        <i class="material-icons">label</i>
        <p>Category</p>
        <span>Supermercado</span>
    </section>
    <hr class="hr-dotted">

    <section class="smaller-section">
        <i class="material-icons">shopping_basket</i>
        <p>Products</p>

        <i class="material-icons">attach_money</i>
        <p>Price</p>
    </section>
</div>