<app-header></app-header>

<div class="wrapper">
    <section class="smaller-section title-section">
        <div class="title-icon-box">
            <i class="material-icons">store</i>
        </div>
        <h3>Create new marketplace</h3>
    </section>

    <form action="">

        <div class="form-text-field">
            <label for="marketplace">Marketplace</label>
            <input type="text" name="marketplace" id="marketplace">   
        </div>
        
        <section class="section">
            <div class="text-center buttons-container-add-purchase">
                <button class="button button-default" name="save" value="save">Save</button>
                <a href="marketplaces" class="button button-secondary" name="cancel" value="Cancel">Cancel</a>
            </div>
        </section>
    </form>
</div>