@use '../abstracts/mixins';

input,  
textarea {  
    @include mixins.input-placeholder {
        color: red;
    }
}

input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;

    &:checked {
        box-shadow: 0px 4px 4px $light-accent-font-color;
    }
}


.buttons-container {
    @include push-auto;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.button {
    display: block;
    padding: 18px 15px;
    @include border-radius(40px);
    margin-bottom: 10px;
    font-size: 1em;
}

.button-default {
    color: $white-font-color;
    background-color: $primary;

    &:hover {
        background-color: rgba($primary, .9);
    }
}
.button-secondary {
    background-color: $light-button;
    color: $white-font-color;
}

.button-circle {
    .material-icons {
        font-size: 2em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.form {
    margin-bottom: 4em;
}

.form-text-field {
    margin-bottom: 1em;
    position: relative;

    label {
        display: block;
        color: $light-accent-font-color;
        margin-bottom: 3px;
    }

    input {
        width: 100%;
        height: 60px;
        border: 0;
        background-color: $white-font-color;
        padding-left: 7px;
        color: $accent-font-color;
        font-size: 1em;
        @include border-radius(3px);
        @include box-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));

        &:focus {
            outline: none;
        }
    }
}

.form-with-icon {
    input {
        padding-left: 2.2em;
        padding-top: 0.8em;
        box-sizing: border-box;
    }
    label {
        position: absolute;
        bottom: 32px;
        left: 35px;
        font-size: 0.8em;
    }
    .material-icons {
        position: absolute;
        color: $light-accent-font-color;
        bottom: 16px;
        left: 6px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px){
    .buttons-container {
        max-width: 80%;
    }
}