* {
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
}

body {
    font-size: 100%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    color: $accent-font-color;
    margin-bottom: 0;
}

label {
    font-size: 1em;
}

a {
    color: $primary;
    text-decoration: none;
}

h1, h2, h3 {
    color: $primary-font-color;
}